<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Accesos</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <h1>Historial de Accesos - Estacionamiento</h1>
    </header>

    <section class="charts">
        <div class="chart-container">
            <h2>Accesos por Entrada</h2>
            <canvas id="accesosChart"></canvas>
        </div>
        <div class="chart-container">
            <h2>Promedio de Duración</h2>
            <canvas id="duracionChart"></canvas>
        </div>
    </section>

    <script src="static/js/scripts.js"></script>
</body>
</html>
